<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timestamp</title>
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
      <div class>
          <h1>API Basejump: Timestamp microservice</h1>
          <h3>Pass natural date or unix timestamp as a parameter.</h3>
      </div>
  </body>
</html>